<div class="main-container">
			<header class="title">
					<div class="background-image-holder parallax-background">
						<%= image_tag @post.image.url %>
					</div>
					
					<div class="container align-bottom">
						<div class="row">
							<div class="col-xs-12">
								<h1 class="text-white"><%= raw @post.title %></h1>
								<span class="sub alt-font text-white"><%= @post.created_at.strftime("%A, %b %d") %></span>
							</div>
						</div><!--end of row-->
					</div><!--end of container-->
			</header>
			

			<section class="article-single">
				<div class="container">
					<div class="row">							
						<div class="col-sm-12">
							<div class="article-body">
								<p>
									 <%= raw @post.content %>
								</p>

							</div><!--end of article body-->
						</div>
						<div class="col-sm-12">
							<br>

						<% if current_user && current_user.admin? %>
						<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary " %>
	 					<%= button_to "Delete", post_path(@post), class: "btn btn-primary", method: :delete, data: {confirm: "Are you sure you want to delete this article?"} %>
	 					<% end %>
	 					</div>
					</div><!--end of row-->
				</div>
			</section>
		</div>
						
				<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2016 Slugger City Sign Co.</span>
							<span class="text-white"><a href="#">hello@buildingblocks.com</a></span>
							<span class="text-white">+555 555 5555</span>
							<span class="text-white">Louisville KY, 40206</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="pages/contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>